/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes cursor-translation {
  from {
    translate: 0;
  }

  to {
    translate: 4px;
  }
}

@keyframes heart-scaling {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes heart-opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 1.5;
  }
}

/* Like Icon */
.contour {
  fill: var(--contour-color);
}

.main-body {
  fill: var(--main-body-color);
  opacity: 0;
}

.core {
  fill: var(--core-color);
  opacity: 0;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s;
}

/* Active */
.card__icon-button:active .main-body {
  fill: var(--color-heart);
  transition: fill 0.3s ease;
}

.card__icon-button:active .core {
  fill: var(--color-heart);
  transition: fill 0.3s ease;
  transition-delay: 0.1s;
}

/* Hover */
.like-icon:hover .main-body {
  transition: opacity 0.3s;
  opacity: 1;
}

.like-icon:hover .core {
  transition: opacity 0.3s;
  transition-delay: 0.1s;
  opacity: 1;
}

/* Clicked */
.like-icon.is-liked {
  animation: heart-scaling 0.3s ease-in 0.1s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--color-heart);
  transition: opacity 0.3s ease;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--color-heart);
  transition: opacity 0.3s ease;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart);
  transition: fill 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: heart-opacity 0.3s ease-in 0.3s;
}
